.header, .jumbotron {
    width: 100%;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    margin-bottom: 10px;
    background: #fce3ef;
    text-align: center;
}
